.header {
    background-color:rgb(233, 23, 23);
    height: 50px;
    width: 1700px;
    float: left;
}
.content{
    background-color:rgb(207, 204, 204);
    width: 1700px;
    height: 870px;
    float: left;
}

.left-column {
    background-color:rgb(26, 26, 36);
    height: 920px;
    width: 200px;
    float: left;
}
.accordionmenu {
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}
.accordionmenu a,
.accordionmenu h2{
    display: block;
    color:white;
    padding: 8px 16px;
    text-decoration: none;
    position: relative;
}
.accordionmenu h2:before {
    border: 5px solid white;
    border-color: white transparent transparent;
    content: "";
    height: 0;
    position: absolute;
    top: 20px;
    left: 170px;
    width: 0;
}
.accordionmenu p{
    margin: 0;
    height: 0;      /*设置高度为0，隐藏内容*/
    overflow: hidden;     
    padding: 0 10px;
    -moz-transition:height 0.25s ease-in;
    -webkit-transition:height 0.25s ease-in;
    -o-transition:height 0.25s ease-in;
    transition:height 0.25s ease-in;
}
.accordionmenu :target h2 a,
.accordionmenu h2 a:focus,
.accordionmenu h2 a:hover,
.accordionmenu he a:active {
    background: #2288dd;
            color: #ffff;
}
.accordionmenu :target p{
    height: 50px;
    overflow: auto;
}
.accordionmenu :target h2::before{
    border-color: transparent transparent transparent;
}
table {
    padding: 30px;
    background-color: white;
    width: 1650px;
    position: absolute;
    top: 250px;
    left: 230px;
}
td {
    height: 35px;
}
th {
    text-align: left;
}