*{
	margin: 0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.header {
    background-color:white;
    height:10%;
    width: 90%;
    position: absolute;
    left: 10%;
    border-bottom: 3px solid rgb(207, 204, 204);
}
.admin {
    width: 10%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 90%
}
._title_ {
    background-color:white;
    height:10%;
    width: 90%;
    position: absolute;
    top: 10%;
    left: 10%;
}
.content {
    background-color:white;
    width: 90%;
    height: 80%;
    border: 1em solid rgb(207, 204, 204);
    padding: 1em;
    margin: 0;
    position: absolute;
    left: 10%;
    top: 20%;
}
.left-column {
    background-color:rgb(26, 26, 36);
    position: fixed;
    height: 100%;
    width: 10%;
    float: left;
}
ul{
	list-style: none;
}
li a{
	color: grey;
	text-decoration: none;
}
/* 
 *组件样式
 */

 .container{
    width:100%;
    
    margin: 20px auto 30px;
   
   background: rgb(26, 26, 36);
   position: absolute;
   top: 5%;
}
._link {
    border-bottom:1px solid #ccc;
    font-size: 1.2em;
    font-weight: 700;
}
.container .link{
    cursor: pointer;
    color: grey;
    padding: 15px 15px 15px 50px;
    font-size:1.2em;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    -webkit-transition: all 0.4s ease;
   -o-transition: all 0.4s ease;
   transition: all 0.4s ease;
}
 .container li.open .link{
 	color:#ED9121;
 }
 .container li:last-child .link{
 	border-bottom: 0;
 }
.container a {
    display: block;
    padding:12px;
 	padding-left: 50px;
 	color: #808A87;
 	
}
.container a:hover {
    background: #1E90FF;
    color: white;
}
 /* 
  *组件内容样式
  */
 .desc{
 	background: #3D59AB;
 	font-size: 14px;
 	display: none;
 }
 .desc li{
 	border-bottom: 1px solid #ccc;
 }
 .desc li:last-child{
 	border-bottom: 0;
 }
 .desc a{
 	display: block;
 	padding:12px;
 	padding-left: 50px;
 	color: #808A87;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;

 }
 .desc a:hover{
 	background: #1E90FF;
 	color: #fff;
 }
.tab-wrapper{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #33344a;
}
  
.tab-wrapper .tab-radio{
    display: none;
}
  
.tab-handler{
    position: relative;
    z-index: 2;
    display: block;
    float: left;
    height: 60px;
    padding: 0 40px;
    color: #717181;
    font-size: 16px;
    line-height: 60px;
    transition: .3s;
    transform: scale(.9);
}
  
.tab-radio:checked + .tab-handler{
    color: #fff;
    background-color: #e74c3c;
    transform: scale(1);
}
  .tab-radio:checked + .tab-handler + .tab-content{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
  
.tab-wrapper .tab-content{
    visibility: hidden;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 30px;
    color: #999;
    font-size: 14px;
    line-height: 1.618em;
    background-color: #fff;
    opacity: 0;
    transition: transform .5s, opacity .7s;
    transform: translateY(20px);
}
table {
    width: 100%;
    border-collapse: collapse;
    border: rgb(240, 235, 235);
}

td,th{
    height: 45px;
    width:40em;
    text-align: left;
}
th {
    background: rgb(240, 235, 235);
}
a {
    text-decoration: none;
    display: inline-block;
    color: #1E90FF;
    padding: 10px 10px;
}