*{
	margin: 0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.header {
    background-color:white;
    height:10%;
    width: 90%;
    position: fixed;
    left: 10%;
}
.admin {
    width: 10%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 90%
}
.content {
    background-color:rgb(207, 204, 204);
    width: 90%;
    height: 90%;
    position: fixed;
    left: 10%;
    top: 10%;
}
.cars-total {
    background-color: white;
    height: 18%;
    width: 18%;
    position: fixed;
    top:13%;
    left: 11%;
}
.cars-now {
    background-color: white;
    height: 18%;
    width: 18%;
    position: fixed;
    top:13%;
    left: 32%;
}
.cars-monitor {
    background-color: white;
    height: 18%;
    width: 18%;
    position: fixed;
    top:13%;
    left: 53%;
}
.left-column {
    background-color:rgb(26, 26, 36);
    position: absolute;
    height: 100%;
    width: 10%;
    float: left;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    position: absolute;
    top: 30%;
    left: 1%;
}

td,th {
    padding: 14px;
    height: 45px;
    width:10em;
    text-align: left;
}
td {
    background: white;
}
th {
    background: rgb(240, 235, 235);
}
.bottom {
    text-align: center;
    position: fixed;
    top: 90%;
    left: 50%;
}
ul{
	list-style: none;
}
li a{
	color: grey;
	text-decoration: none;
}
/* 
 *组件样式
 */

 .container{
    width:100%;
    
    margin: 20px auto 30px;
   
   background: rgb(26, 26, 36);
   position: absolute;
   top: 5%;
}
._link {
    border-bottom:1px solid #ccc;
    font-size: 1.2em;
    font-weight: 700;
}
.container .link{
    cursor: pointer;
    color: grey;
    padding: 15px 15px 15px 50px;
    font-size:1.2em;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    -webkit-transition: all 0.4s ease;
   -o-transition: all 0.4s ease;
   transition: all 0.4s ease;
}
 .container li.open .link{
 	color:#ED9121;
 }
 .container li:last-child .link{
 	border-bottom: 0;
 }
.container a {
    display: block;
    padding:12px;
 	padding-left: 50px;
 	color: #808A87;
 	
}
.container a:hover {
    background: #1E90FF;
    color: white;
}
 /* 
  *组件内容样式
  */
 .desc{
 	background: #3D59AB;
 	font-size: 14px;
 	display: none;
 }
 .desc li{
 	border-bottom: 1px solid #ccc;
 }
 .desc li:last-child{
 	border-bottom: 0;
 }
 .desc a{
 	display: block;
 	padding:12px;
 	padding-left: 50px;
 	color: #808A87;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;

 }
 .desc a:hover{
 	background: #1E90FF;
 	color: #fff;
 }